 <div class="main">
<!-- JUMBOTRON (HERO) -->
       <section>
       <!--  <div class="container-fluid">
          <div class="row">
            <div class="col-md-12"> -->
        <div class="category-hero" style="background-image: url(<%= asset_path 'esi-header.jpg' %>)">
          <div class="hero-header-2">Epidural Steroid Injections</div>
       </div>
   <!--   </div>
   </div>
 </div> -->
      </section>

<!-- PRIMARY CONTENT: -->
      <section class="primary-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
             <p class="text-center link-map"><%= link_to "Home", root_url %>
                <%= image_tag("arrow.png", class: "arrow") %><%= link_to "Procedures", procedures_path %>
                <%= image_tag("arrow.png", class: "arrow") %>
                Epidural Steroid Injections
            </p>
           </div>
          </div>
        </div>

        <div class="container-fluid">
             <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <p>Sycamore Pain Clinic is dedicated to keeping you and your team in the game, and off the bench. Whether you particiapte at the high school, college, or community level competition, Sycamore Pain Clinic offers the most comprehensive sports-related programs available. We provide such services as:</p>
                <br>
                <p>Preventative care, including:</p>
                <p>Pre-season musculoskeletal screenings & Sports Enhancement</p>                     <p>Evaluation/treatment of sports-related injuries</p>
                <p>Assistance to coaches and players (both on and off the field)</p>
              </div>
            </div>

          </div>

      </section>

<!-- SERVICE TYPE (SERVICE CONTENT) -->
      <section class="secondary-content">
        <div class="service-content">
          <div class="content-image">
            <%= image_tag("esi.png", class: "img-responsive")>
          </div>
          <div class="content-text">
            <h2>Sports Enhancement</h2>
            <br>
            <p>Success in any sport depends upon power, speed, strength, endurance, and core stability. The Sports Enhancement Program (SEP) at Sycamore Pain Clinic provides an avenue for area athletes to improve in each of these aspects of a sport. The SEP offers a quality program for all individuals—male or female, young or old, beginner to advanced—who want to improve their athletic performance.</p>

            <p>This program is dedicated to achieving goals set by individual athletes using the most effective techniques performed in a professional, compassionate, and supportive environment. This progressive program assesses athletic performance to identify weaknesses so that our physical therapists can focus on helping athletes fine-tune their strengths.</p>

            <p>Some of the sports-enhancing techniques used by our physical therapists in the SEP include: flexibility enhancement, linear/lateral speed enhancement, multi-directional movement and agility enhancement, functional strength enhancement and core stability enhancement.</p>


          </div>
        </div>
      </section>

