<% provide(:title, "Providers") %>

 <div class="main">   <!-- MAIN CONTENT DIV************** -->

      <!-- (HERO) -->
      <div class="row">
        <section>
          <div class="category-hero" style="background-image: url(<%= asset_path 'doctors-header.jpg' %>)">
            <div class="hero-header-2">Meet Our Staff</div>
         </div>
        </section>
      </div>

<!-- PRIMARY CONTENT: -->
    <section class="primary">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center"><%= link_to "Home", root_url %>
          <%= image_tag("arrow.png", class: "arrow") %>
          Staff
          </p>
        </div>
      </div>
    </section>

      <section class="staff">
        <div class="staff-wrapper">

          <div class="row">
            <div class="col-md-3">
              <div class="staff-box">
                <%= image_tag("popcorn.jpg", class: "img-circle") %>
                <div class="caption">
                  <h3>Thomas M. Pendergast</h3>
                  <p>MD</p>
                  <p>Email</p>
                  <p>000.000.0000</p>
                  <p>Education</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="staff-box">
                <%= image_tag("popcorn.jpg", class: "img-circle") %>
                <div class="caption">
                  <h3>Jennifer Hardy</h3>
                  <p>MD</p>
                  <p><a href="mailto:jkh@gmail.com">jkh@gmail.com</a></p>
                  <p>000.000.0000</p>
                  <p>Education</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="staff-box">
                <%= image_tag("popcorn.jpg", class: "img-circle") %>
                <div class="caption">
                  <h3>Person 3</h3>
                  <p>PA-C</p>
                  <p>email</p>
                  <p>000.000.0000</p>
                  <p>Education</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="staff-box">
                <%= image_tag("popcorn.jpg", class: "img-circle") %>
                <div class="caption">
                  <h3>Person 4</h3>
                  <p>PA-C</p>
                  <p>email</p>
                  <p>Phone</p>
                  <p>Education</p>
                </div>
              </div>
            </div>
      </div>

        <div class="row">
          <div class="col-md-3">
            <div class="staff-box">
                <img src="#" class="img-circle">
                <div class="caption">
                  <h3>Name</h3>
                  <p>Title</p>
                  <p>Email</p>
                  <p>Phone</p>
                  <p>Education</p>
                </div>
              </div>
            </div>

          <div class="col-md-3">
            <div class="staff-box">
                <img src="assets/placeholder.png" class="img-circle">
                <div class="caption">
                  <h3>Name</h3>
                  <p>Title</p>
                  <p>Email</p>
                  <p>Phone</p>
                  <p>Education</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
            <div class="staff-box">
                <img src="assets/placeholder.png" class="img-circle">
                <div class="caption">
                  <h3>Name</h3>
                  <p>Title</p>
                  <p>Email</p>
                  <p>Phone</p>
                  <p>Education</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
            <div class="staff-box">
                <img src="assets/placeholder.png" class="img-circle">
                <div class="caption">
                  <h3>Name</h3>
                  <p>Title</p>
                  <p>Email</p>
                  <p>Phone</p>
                  <p>Education</p>
                </div>
              </div>
            </div>

              <div class="row">
          <div class="col-md-3">
            <div class="staff-box">
                <img src="assets/placeholder.png" class="img-circle">
                <div class="caption">
                  <h3>Name</h3>
                  <p>Title</p>
                  <p>Email</p>
                  <p>Phone</p>
                  <p>Education</p>
                </div>
              </div>
            </div>

          <div class="col-md-3">
            <div class="staff-box">
                <img src="assets/placeholder.png" class="img-circle">
                <div class="caption">
                  <h3>Name</h3>
                  <p>Title</p>
                  <p>Email</p>
                  <p>Phone</p>
                  <p>Education</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
            <div class="staff-box">
                <img src="assets/placeholder.png" class="img-circle">
                <div class="caption">
                  <h3>Name</h3>
                  <p>Title</p>
                  <p>Email</p>
                  <p>Phone</p>
                  <p>Education</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
            <div class="staff-box">
                <img src="assets/placeholder.png" class="img-circle">
                <div class="caption">
                  <h3>Name</h3>
                  <p>Title</p>
                  <p>Email</p>
                  <p>Phone</p>
                  <p>Education</p>
                </div>
              </div>
            </div>
    </div>
</section>



